<!--press start here-->
<div class="press">
    <div class="container">
        <div class="press-main">
            <div class="press-top">
                <div class="col-md-8 press-left">
                    <h1>Últimas noticias de la tienda</h1>
                    <div class="press-grid">
                        <div class="col-md-6 press-imgs">
                            <img src="~/images/p1.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-6 press-text">
                            <h2>Promociones</h2>
                            <p>Las últimas promociones las puedes encontrar aquí.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="press-grid">
                        <div class="col-md-6 press-imgs">
                            <img src="~/images/p2.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-6 press-text">
                            <h3>Ofertas</h3>
                            <p>Las últimas ofertas las puedes encontrar aquí.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="press-grid">
                        <div class="col-md-6 press-imgs">
                            <img src="~/images/p3.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-6 press-text">
                            <h3>Descuentos</h3>
                            <p>Los últimos descuentos los puedes encontrar aquí.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="press-grid">
                        <div class="col-md-6 press-imgs">
                            <img src="~/images/p4.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-6 press-text">
                            <h3>Otras noticias</h3>
                            <p>Cualquier detalle sobre la tienda, el personal, los productos o el envío los encuentras aquí.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-4 tems-right">
                    <h3>NOTICIAS</h3>
                    <p> Para una mayor satisfacción del cliente, puede suscribirse al boletín completamente gratis, de tal manera que le llegará vía e-mail todas las novedades a su correo.</p>
                    <form>
                        <input type="text" placeholder="Nombre completo" required="">
                        <input type="text" placeholder="Si es que tienes página web" required="">
                        <input type="text" placeholder="Tu correo electrónico" required="">
                        <input type="submit" value="Subscribirme">
                    </form>
                    <h4>Ventajas del boletín</h4>
                    <p>Podrá ser la primera en enterarse de las promociones, descuentos, ofertas y demás detalles de la tienda.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--tems end here-->

