<!--log in start here-->
<div class="login">
    <div class="container">
        <div class="login-main">
            <h1>Iniciar Sesión</h1>
            <div class="col-md-6 login-left">
                <h2>Si ya tienes una cuenta</h2>
                <form>
                    <input type="text" placeholder="Nombre de Usuario" required="">
                    <input type="password" placeholder="Contraseña" required="">
                    <input type="submit" value="Entrar">
                </form>
            </div>
            <div class="col-md-6 login-right">
                <h3>Nuevo Usuario? Crear una cuenta</h3>
                <p>Para poder comprar algún producto necesitará una cuenta.</p>
                <a href="signup.html" class="login-btn">Crear Cuenta </a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--log in end here-->

