<!--sign in start here-->
<div class="signin">
    <div class="container">
        <div class="signin-main">
            <h1>Registrarse</h1>
            <h2>Datos</h2>
            <form>
                <input type="text" placeholder="Nombre o Nombre de usuario">
                <input type="text" class="no-margin" placeholder="Correo electrónico">
                <input type="password" placeholder="Contraseña" required="" />
                <input type="password" class="no-margin" placeholder="Confirmar contraseña" required="" />
                <span class="checkbox1">
                    <label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>Estoy de acuerdo con los términos de uso y privacidad</label>
                </span>
                <input type="submit" value="ENVIAR">
            </form>
        </div>
    </div>
</div>
<!--sign in end here-->

