<!--tems start here-->
<div class="tems">
    <div class="container">
        <div class="tems-main">
            <div class="tems-top">
                <h1>Términos y Condiciones</h1>
                <h2>RESUMEN</h2>
                <p>Mediante este contrato se describen los términos y condiciones generales aplicables al acceso y uso de los servicios ofrecidos por NaturaAyacucho.com dentro del sitio www.NaturaAyacucho.com.pe
Cualquier persona que desee acceder y/o usar el sitio o los servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales, junto con todas las demás políticas y principios que rigen NaturaAyacucho y que son incorporados al presente por referencia.
En consecuencia, todas las visitas y cada una de las operaciones y transacciones que se realicen en este sitio, como asimismo sus efectos jurídicos, quedarán regidos por estas reglas y sometidas a la legislación aplicable en la República del Perú.
CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS PRODUCTOS.

En forma previa al uso del sitio y/o los productos, el Usuario deberá leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones Generales. Si utilizas este Sitio significa que has aceptado plenamente las condiciones establecidas en los Términos y Condiciones Generales y en las Políticas de Natura Ayacucho.
Por ello, te obligas a cumplir expresamente con las mismas.</p>
                <h3>REGISTRO</h3>
                <p>Es obligatorio completar el formulario de registración en todos sus campos con datos válidos para la adquisición de productos y servicios ofrecidos en este sitio. El futuro Usuario deberá completarlo con su información personal de manera exacta, precisa y verdadera ("Datos Personales") y asume el compromiso de actualizar los Datos Personales conforme resulte necesario.

Ayacucho Natura podrá utilizar diversos medios para identificar a sus Usuarios, pero éste, NO se responsabiliza por la certeza de los Datos Personales provistos por sus Usuarios. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de los Datos Personales ingresados.

Ayacucho Natura se reserva el derecho de solicitar algún comprobante y/o dato adicional a efectos de corroborar los Datos Personales, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados. En estos casos de inhabilitación, se dará de baja la compra efectuada, sin que ello genere algún derecho a resarcimiento.</p>
                <h3>PRIVACIDAD DE LA INFORMACION</h3>
                <p>Para utilizar los Servicios ofrecidos por Ayacucho Natura , los Usuarios deberán facilitar determinados datos de carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica. Para mayor información sobre la privacidad de los Datos Personales y casos en los que será revelada la información personal, se pueden consultar nuestras Políticas de Privacidad.</p>
                <h3>PROCEDIMIENTO DE USO</h3>
                <p>Al ofertar por los bienes ofrecidos por medio de este sitio, Ayacucho Natura informará, de manera inequívoca y fácilmente accesible, los pasos que deben seguirse para concretar la operación. El sólo hecho de seguir los pasos que para tales efectos se indican en este sitio para efectuar una compra, equivale a aceptar que efectivamente Ayacucho Natura ha dado cumplimiento a las condiciones contenidas en este número. Indicará, además, su dirección de correo postal o electrónico y los medios técnicos a disposición del consumidor para identificar y corregir errores en el envío o en sus datos.</p>
                <h3>MEDIOS DE PAGO</h3>
                <p>Los productos y servicios ofrecidos en este sitio, salvo que se señale una forma diferente para casos particulares u ofertas de determinados bienes o servicios, pueden ser pagados a través de tarjeta de crédito, a través de los sistemas preparados para tal efecto. Este último se compondrá a su vez de agentes recaudadores destinados a tal efecto. Se entenderá como agentes recaudadores, a aquellas empresas a través de las cuales se recauda o percibe el valor del bien y/o servicio ofrecido en el Sitio. Sin perjuicio de lo antes mencionado, los medios de pago podrán variar en cualquier momento para ofertas particulares o respecto a todas aquellas publicadas en el Sitio. Dicho cambio será publicado en el sitio mediante el medio publicitario que Ayacucho Natura crea más apropiado. El uso de las tarjetas, se sujetará a lo establecido en estos Términos y Condiciones y en relación con su emisor, y a lo pactado en los respectivos Contratos de Apertura y Reglamento de Uso. A mayor abundamiento, tratándose de tarjetas bancarias aceptadas en este sitio, los aspectos relativos a éstas, tales como la fecha de emisión; caducidad, cupo, bloqueos, etc., se regirán por el respectivo Contrato de Apertura y Reglamento de Uso, de tal forma que Ayacucho Natura no tendrá responsabilidad en cualquiera de los aspectos señalados. El sitio podrá indicar condiciones extraordinarias de compra según el medio de pago que se utilice por el usuario.</p>
                <h3>VALIDEZ DE OFERTA Y PRECIO</h3>
                <p>El plazo de validez de la oferta es aquel que coincide con la fecha de vigencia indicada en la promoción o en virtud del agotamiento de las cantidades de productos disponibles para esa promoción debidamente informados al Consumidor.

Los precios de los productos disponibles en este sitio, mientras aparezcan en él, solo tendrán vigencia y aplicación en éste, y no serán necesariamente aplicables a otros canales de venta utilizados por Ayacucho Natura , tales como tiendas físicas, venta telefónica, catálogos u otros que pudieran existir.

Ayacucho Natura podrá modificar cualquier información contenida en este sitio, incluyendo las relacionadas con mercaderías, servicios, precios, existencias y condiciones, en cualquier momento y sin previo aviso, hasta el momento de recibir una aceptación de compra, la cual obligará a Ayacucho Natura .</p>
                <h3>PROMOCIONES</h3>
                <p>Las promociones que se ofrezcan en este sitio web no son necesariamente las mismas que ofrezcan otros canales de venta utilizados por Ayacucho Natura . En los casos que el sitio contenga promociones que consistan en la entrega rebajada de un producto por la compra de otro, entonces el despacho del bien que se entregue gratuitamente o a precio rebajado, se hará en el mismo lugar en el cual se despacha el producto comprado, a menos que el adquirente manifieste, al hacer su aceptación de oferta, que desea que los productos se remitan a direcciones distintas, en cuyo caso deberá pagar el valor del despacho de ambos productos. No se podrá participar en estas promociones sin adquirir conjuntamente todos los productos comprendidos en ellas.</p>
                <h3>CAMBIOS Y DEVOLUCIONES</h3>
                <p>Dentro de dicho plazo, el consumidor podrá proceder a la devolución por medio de remisión a Ayacucho Natura del producto adquirido, en perfecto estado de uso y conservación, junto con sus etiquetas, embalaje y accesorios originales, también en perfecto estado, y acompañando su factura/ticket respectivo. Una vez recibido el producto por Ayacucho Natura en su domicilio y examinado el mismo, se procederá a la restitución de la cantidad abonada en concepto de precio, por el mismo medio en que fue abonado el producto. La devolución del artículo por el consumidor no supondrá penalización alguna para Ayacucho Natura ni para el consumidor. Para tramitar la devolución, es necesario contactarse al siguiente número telefónico 966 970 677 o mediante un correo electrónico dirigido a edersolorzano2013@gmail.com que será respondido de inmediato, proporcionando las instrucciones necesarias para realizar la devolución. La devolución deberá ser efectuada por el cliente. Los gastos de envíos y retiro del producto en caso de devolución, correrán por cuenta del comprador. Si al recibir el producto en nuestra empresa, Ayacucho Natura constata que la mercadería no se encuentra en su embalaje original o que se ha dañado o faltan accesorios por causas imputables al cliente, se deducirá del valor cancelado originalmente por el producto, un porcentaje equivalente al descuento con que deberá venderse posteriormente por encontrarse en dichas condiciones o al costo que al fabricante o importadora deba incurrir para dejarlo en óptimas condiciones.</p>
                <h3>GASTOS DE ENVIO</h3>
                <p>Totalmente gratis, confirmando una dirección de entrega por parte del cliente. Se cobrará un monto de S/. 5.00 si es que el cliente lo quiere envuelto como regalo.</p>
                <div class="tems-list">
                    <div class="col-md-6 tems-list-left">
                        <ul class="terms-lists">
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">voluptatem accusantium doloremque</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">Accusantium doloremque voluptatem</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">Doloremque voluptatem accusantium </a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">voluptatem accusantium doloremque</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">Accusantium doloremque voluptatem</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">Doloremque voluptatem accusantium</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">voluptatem accusantium doloremque</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">Accusantium doloremque voluptatem</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">Doloremque voluptatem accusantium</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">voluptatem accusantium doloremque</a></span></li>
                        </ul>
                    </div>
                    <div class="col-md-6tems-list-right">
                        <ul class="terms-lists">
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">But I must explain to you how all</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">Nam libero tempore  soluta nobis</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">voluptatem accusantium doloremque</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">voluptatem accusantium doloremque</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">voluptatem accusantium doloremque</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">voluptatem accusantium doloremque</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">voluptatem accusantium doloremque</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">voluptatem accusantium doloremque</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">voluptatem accusantium doloremque</a></span></li>
                            <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><a href="#">voluptatem accusantium doloremque</a></span></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--tems end here-->
